.checkout-container {
    display: flex;
}

.steps-ctn {
    width: 60%;
    padding: 45px 65px 18px;
}

.summary-ctn {
    width: 40%;
    display: flex;
    flex-direction: column;
}

@media (max-width: 876px) {
    .container {
        flex-direction: column;
    }
    .steps-ctn {
        padding: 0px 22px;
        width: 100%;
        height: 100%;
    }
    .orderBtn {
        margin-bottom: 2rem;
        display: block;
    }

    .summary-ctn {
        display: none;
    }
}